@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Good Sans';
  src: url('../public/fonts/GoodSans-Light.otf');
  font-weight: normal;
}

body {
  font-family: 'Good Sans';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.soft-edge {
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

.paragraph p {
  margin-bottom: 25px;
}
.paragraph h1 {
  font-size: 2em;
  line-height: 1.1;
  margin-bottom: 35px;
}
.h2-text h2 {
  font-size: 2em;
  line-height: 1;
  margin-bottom: 25px;
}

.h2-text p {
  width: 45%;
}

@media (max-width: 768px) {
  .paragraph h1 {
    font-size: 1.5em;
    line-height: 1.3;
  }
}

@media (min-width: 1980px) {
  .paragraph h1 {
    font-size: 1.6em;
    margin-bottom: 50px;
  }
}